{% extends 'layout.html' %} {% block page_content %}
<div class="page-header">
    <h1>搜索结果
        <small>文章数目:{{total}}</small>
    </h1>
</div>
<div>
    {% for post in posts %}
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNjE3M2U0M2RjMiB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE2MTczZTQzZGMyIj48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMy4xNzk2ODc1IiB5PSIzNi41Ij42NHg2NDwvdGV4dD48L2c+PC9nPjwvc3ZnPg=="
                    alt="...">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                <a href="{{url_for('post.post_view', id=post.id)}}">
                    {{post.title}}
                </a>
            </h4>
            {{post.content | truncate(10)}} {{post.created_at}}
        </div>
    </div>
    {% endfor %}
</div>
<div>
    <nav aria-label="...">
        <ul class="pager">
            <li class="{% if not pagination.has_prev %}disabled{% endif %}">
                <a href="{{url_for('.post_search', page=pagination.prev_num, kw=request.args.get('kw'))}}">Previous</a>
            </li>
            <li class="{% if not pagination.has_next %}disabled{% endif %}">
                <a href="{{url_for('.post_search', page=pagination.next_num, kw=request.args.get('kw'))}}">Next</a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}
